[Interface]
Address = {{ client.ip }}
PrivateKey = {{ client_private_key }}
DNS = {{ wg_client_dns | default('1.1.1.1') }}

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ wg_server_public_ip }}:{{ wg_server_port }}
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25