[Interface]
Address = {{ wg_server_internal_ip }}/{{ wg_server_internal_mask }}
ListenPort = {{ wg_server_port }}
PrivateKey = {{ server_private_key }}
SaveConfig = false

# --- BLOCS CLIENTS (PEERS) ---
{% for peer in peers %}
# Client: {{ peer.0.name }}
[Peer]
# peer.0 = infos client (inventaire), peer.1 = info clé publique (slurp)
PublicKey = {{ peer.1['content'] | b64decode | trim }}
AllowedIPs = {{ peer.0.ip }}
{% endfor %}