
deploymentMode: SingleBinary

loki:
  auth_enabled: false

  common:
    replication_factor: 1
    ring:
      kvstore:
        store: inmemory

  storage:
    type: 'filesystem'
  
  schemaConfig:
    configs:
      - from: 2024-01-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

  filesystem:
    chunks_directory: /var/loki/chunks
    rules_directory: /var/loki/rules

singleBinary:
  replicas: 1
  
  persistence:
    enabled: true
    size: 20Gi
    storageClass: "longhorn" 
    accessModes:
      - ReadWriteOnce

  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 2Gi

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0

gateway:
  enabled: false

test:
  enabled: false
monitoring:
  selfMonitoring:
    enabled: false
    lokiCanary:
      enabled: false