---
- name: Installer et configurer WireGuard avec Routage et NAT
  hosts: wireguard
  become: true
  pre_tasks:
    - name: Activer l'IP Forwarding
      ansible.posix.sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        sysctl_set: yes
        state: present
        reload: yes

    - name: Configurer UFW DEFAULT_FORWARD_POLICY à ACCEPT
      ansible.builtin.lineinfile:
        path: /etc/default/ufw
        regexp: '^DEFAULT_FORWARD_POLICY='
        line: 'DEFAULT_FORWARD_POLICY="ACCEPT"'

    - name: Injecter les règles NAT dans UFW (before.rules)
      ansible.builtin.blockinfile:
        path: /etc/ufw/before.rules
        marker: "# {mark} ANSIBLE MANAGED BLOCK - NAT WIREGUARD"
        insertbefore: BOF
        block: |
          *nat
          :POSTROUTING ACCEPT [0:0]
          # Règle de Masquerade dynamique sur l'interface détectée
          -A POSTROUTING -s 10.20.0.0/24 -o eno1 -j MASQUERADE
          COMMIT

    - name: Appliquer les règles de pare-feu UFW
      community.general.ufw:
        rule: allow
        port: "{{ item.port | default(omit) }}"
        proto: "{{ item.proto | default('any') }}"
        src: "{{ item.src | default('any') }}"
        comment: "{{ item.comment }}"
      loop:
        - { port: '22', proto: 'tcp', comment: 'SSH Access (Anti-lockout)' }
        - { port: '51821', proto: 'udp', comment: 'WireGuard VPN Port' }
        - { src: '10.20.0.0/24', comment: 'Allow VPN Clients' }
        - { src: '192.168.100.0/24', comment: 'Allow VMs Response' }

    - name: Recharger UFW pour appliquer le NAT et les règles
      community.general.ufw:
        state: reloaded

  roles:
    - wireguard