---
common_packages:
  - curl
  - wget
  - git
  - apt-transport-https
  - ca-certificates
  - gnupg
  - lsb-release
  - open-iscsi
  - nfs-common
  - jq
  - net-tools
  - htop

sysctl_config:
  net.bridge.bridge-nf-call-iptables: 1
  net.bridge.bridge-nf-call-ip6tables: 1
  net.ipv4.ip_forward: 1
  net.ipv6.conf.all.forwarding: 1
  vm.swappiness: 0
